






<div class="bg-light vh-100">

  <div class="content d-flex h-100 align-items-center">

    <div class="text w-50 text-center p-5">
      <h2 class="fs-1">Welcome to  </h2>
      <h2 class="fw-bold mb-3">student management system</h2>
      <p class="fs-5 text-black-50">Empower Your Education with Precision. > Manage students, track progress, and streamline administration—all in one powerful platform.</p>
      <button (click)="navigateToStudents()" class="btn btn-primary fs-5 mt-3">view students</button>
    </div>

    <div class="image">
      <img src="/student_image.jpg" alt="">
    </div>

  </div>



</div>
